<div class="infobox">
<table>
    <thead>
        <tr>
            <th colspan="2" class="title">{{ include.name | default: "???" }}</th>
        </tr>
        <tr>
            <td colspan="2" class="subtitle">
                {{ include.name | default: "???" }} &#9656; 
                <a href="{{ include.system }}.html">{{ include.system | default: "???" }}</a> &#9656; 
                <a href="{{ include.quarter }}.html">{{ include.quarter | default: "???" }}</a></td>
        </tr>

        {% if include.image != null %}
        <tr>
            <td colspan="2">
                <a data-fancybox="gallery" href="media/{{include.image}}">
                    <img src="media/thumb-{{include.image}}">
                    <span>{{ include.caption }}</span>
                </a>
            </td>
        </tr>
        {% endif %}
    </thead>

    <tbody>
        <tr>
            <td class="infoname">Catalogue name</td>
            <td>{{ include.catname }}</td>
        </tr>
        <tr>
            <td class="infoname">Catalogued</td>
            <td>{{ include.cattime }}</td>
        </tr>
        <tr>
            <td class="infoname">Demonyms</td>
            <td>{{ include.demonym }}</td>
        </tr>

        <tr><th colspan="2">Orbital characteristics</th></tr>
        <tr>
            <td class="infoname" rowspan="2">Semimajor axis</td>
            <td>{{ include.dist }} km</td>
        </tr>
        <tr>
            <td>{{ include.reldist }} AU</td>
        </tr>
        <tr>
            <td class="infoname">Orbital period</td>
            <td>{{ include.year }} days</td>
        </tr>
        <tr>
            <td class="infoname">Eccentricity</td>
            <td>{{ include.ecc }}</td>
        </tr>
        <tr>
            <td class="infoname">Sidereal day</td>
            <td>{{ include.sidereal }}</td>
        </tr>

        {% if include.synodic != null %}
        <tr>
            <td class="infoname">Synodic day</td>
            <td>{{ include.synodic }}</td>
        </tr>
        {% endif %}

        <tr><th colspan="2">Physical characteristics</th></tr>
        <tr>
            <td class="infoname" rowspan="2">Mass</td>
            <td>{{ include.mass }} kg</td>
        </tr>
        <tr>
            <td>{{ include.relmass }} M<a href="Earth.html"><sub>&#8853;</sub></a></td>
        </tr>
        <tr>
            <td class="infoname" rowspan="2">Mean radius</td>
            <td>{{ include.radius }} km</td>
        </tr>
        <tr>
            <td>{{ include.relradius }} R<a href="Earth.html"><sub>&#8853;</sub></a></td>
        </tr>
        <tr>
            <td class="infoname" rowspan="2">Surface gravity</td>
            <td>{{ include.grav }} m/s<sup>2</sup></td>
        </tr>
        <tr>
            <td>{{ include.relgrav }} g<a href="Earth.html"><sub>&#8853;</sub></a></td>
        </tr>
        <tr>
            <td class="infoname">Age</td>
            <td>{{ include.age }}</td>
        </tr>

        <tr><th colspan="2">Atmospheric</th></tr>
        <tr>
            <td class="infoname" rowspan="2">Surface pressure</td>
            <td>{{ include.pressure }} kPa</td>
        </tr>
        <tr>
            <td>{{ include.relpressure }} Atm<a href="Earth.html"><sub>&#8853;</sub></a></td>
        </tr>
        <tr>
            <td class="infoname">Composition</td>
            <td>{{ include.composition | markdownify | remove: '<p>' | remove: '</p>' }}</td>
        </tr>
        <tr>
            <td class="infoname" rowspan="2">Median temperature</td>
            <td>{{ include.temp }} &deg;C</td>
        </tr>
        <tr>
            <td>{{ include.ktemp }} K</td>
        </tr>

        <tr><th colspan="2">Habitation</th></tr>
        <tr>
            <td class="infoname">Population</td>
            <td>{{ include.pop }}</td>
        </tr>
        <tr>
            <td class="infoname">Affiliation</td>
            <td>{{ include.affil | markdownify | remove: '<p>' | remove: '</p>' }}</td>
        </tr>
        <tr>
            <td class="infoname">Settled</td>
            <td>{{ include.settled }}</td>
        </tr>

        {% if include.capital != null %}
        <tr>
            <td class="infoname">Political capital</td>
            <td>{{ include.capital | markdownify | remove: '<p>' | remove: '</p>' }}</td>
        </tr>
        {% endif %}

        {% if include.largest != null %}
        <tr>
            <td class="infoname">Largest settlement</td>
            <td>{{ include.largest | markdownify | remove: '<p>' | remove: '</p>' }}</td>
        </tr>
        {% endif %}

        {% if include.major != null %}
        <tr>
            <td class="infoname">Major settlements</td>
            <td>{{ include.major | markdownify | remove: '<p>' | remove: '</p>' }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
</div>
