<div class="infobar vilous">
    <div class="header">
        Codex information
    </div> 

    <div class="sym">
        <img src="{{ site.baseurl }}/img/vilousfan.png">
    </div>

    <div class="info">
        This section of the +700 canon <strong>is based off of the
        <a href="http://www.vilous.net/">official Vilous canon</a></strong> made by
        <a href="https://www.furaffinity.net/user/mick39/">Mick Ono</a>. Elements of the Vilous
        canon in +700 should be considered fan work.
    </div>
</div>
